<div id="recipe-page">
    <div id="right">
        <div id="image"><img src="<%= @recipe.img %>" /></div>
        <div id="strength"
<%
if @recipe.strength == "Strongest"
  print "class=\"strongest\""
end
%>
><%= @recipe.strength %></div>
    </div><!-- /right -->
    <h1><%= @recipe.title %></h1>
    <h3>Intro:</h3>
    <p><%= @recipe.intro %></p>
    <h3>Ingredients:</h3>
    <p><%= @recipe.ingredients %></p>
    <h3>Directions:</h3>
    <p><%= @recipe.directions %></p>
</div>
