<div id="recipe-page">
    <div id="image"><img src="<%= @recipe.img %>" /></div>
    <div id="strength"><&= @recipe.strength %></div>
    <h1><%= @recipe.title %></h1>
    <h3>Intro:</h3>
    <p><%= @recipe.intro %></p>
    <h3>Ingredients:</h3>
    <p><%= @recipe.ingredients %></p>
    <h3>Directions:</h3>
    <p><%= @recipe.directions %></p>
</div>
